.doll{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  tansform: rotate(90deg);
  height: 250px;
  width: 250px;

}

body{
  background: url("http://localhost:3000/pink-and-white-chevron.jpg")
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color:red;
}

.Maryellen{
  color: #008080;
}

.Saige{
  color: orange;
}

.Mckenna{
  color:purple;
}

.Kit{
  color:green;
}
